/* GENERATED - applyDefaults.cjs */
:root {
  --desired-logo-panel-padding: 120;
  --panel-bg: #fbd5d3;
--toolbar-bg: #dadbd6;
--logo-bg: #f8f3ef;
--panel-bg-about-us: #fdf4a5;
--panel-bg-author: #92bec0;
--panel-bg-shop: #db88a1;
--panel-bg-subscriptions: #d97a84;
--panel-bg-services: #efc4c0;
--panel-bg-shop-cat-books: #0ef70c;
--panel-bg-shop-cat-shirts: #603cb4;
--panel-bg-shop-cat-stickers: #c3d100;
--panel-bg-shop-cat-crafts: #00bbe0;
--panel-bg-shop-border: #000000;
--panel-bg-shop-dir-prev: #000000;
--panel-bg-shop-dir-next: #002aff;
--panel-bg-shop-dir-next-bg: #fafafa;
--panel-bg-shop-dir-prev-bg: #ff0000;
--panel-bg-shop-outline-width: 1px;
--panel-bg-shop-btn-outline: #000000;
--panel-bg-shop-btn-color: #111111;
  --card-shadow-offset: 19px;
  --card-shadow-blur: 31px;
  --card-shadow-opacity: 0.52;
  --logo-base-size: 120px;
--logo-inner-scale: 0.5;
--base-logo-base-multiplier: 1.64;
--base-logo-gap: -451px;
--base-logo-y-adjust: 53px;
  --page-bg-scale: 1;
  --page-bg: url('/assets/19-DF3oX5gl.png');
}
